/openapi.yaml
/internal/proto/gen
.vscode
/internal/proto/*.swagger.json

# Build artifacts
/server
/bin/
/main
/immich-go-backend
*.exe

# Downloaded files
*.tar.gz
*.json
api.swagger.json
immich-openapi-specs.json
